.title {
  margin-bottom: 0;
  font-weight: 700;
  font-family: var(--font-secondary);
  color: var(--foreground-primary);
}

.sizeLarge {
  font-size: var(--font-size-large);
}

.sizeMedium {
  font-size: var(--font-size-medium);
}

.mbLarge {
  margin-bottom: 70px;
}

.mbMedium {
  margin-bottom: 40px;
}

.mbSmall {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

@media (width <= 768px) {
  .mbLarge {
    margin-bottom: 50px;
  }

  .mbMedium {
    margin-bottom: 32px;
  }

  .mbSmall {
    margin-bottom: 16px;
  }
}

@media (width <= 480px) {
  .mbLarge {
    margin-bottom: 32px;
  }

  .mbMedium {
    margin-bottom: 24px;
  }

  .mbSmall {
    margin-bottom: 12px;
  }
}
