.input {
  width: 100%;
  border: 2px solid transparent;
  font-weight: 700;
  line-height: 1;
  color: var(--color-dark);
  transition: var(--transition);
  transition-property: border-color;
}

@media (hover: hover) {
  .input:hover {
    border-color: var(--color-purple);
  }
}

@media (hover: none) {
  .input:active {
    border-color: var(--color-purple);
  }
}

.input:focus {
  outline: none;
}

.input:focus-visible {
  border-color: var(--color-purple);
}

.inputDefault {
  padding: 15px 20px;
  border-radius: var(--border-radius-large);
  font-size: var(--font-size-controls);
}

.inputCompact {
  padding: 7px 10px;
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-base);
}

@media (width <= 768px) {
  .inputDefault {
    padding: 10px 15px;
  }
}
