.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: var(--font-size-auth);
  font-family: var(--font-secondary);
  text-align: center;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.inputWrapper:not(:last-of-type) {
  margin-bottom: 20px;
}

.button {
  padding: 22.5px 0;
  border-radius: var(--border-radius-large);
  font-weight: 700;
  font-size: var(--font-size-controls);
  font-family: var(--font-primary);
}

@media (width <= 768px) {
  .inputWrapper:not(:last-of-type) {
    margin-bottom: 12px;
  }
}
