.history {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.tableWrapper {
  overflow-x: auto;
  max-height: 467px;
  padding: 16px 20px;
  border-radius: var(--border-radius-large);
  background-color: var(--background-secondary);
}

.header {
  display: grid;
  grid-template-columns: minmax(150px, 2fr) minmax(100px, 1fr) minmax(
      100px,
      1fr
    );
  column-gap: 12px;
  border-bottom: 1px solid var(--color-dark);
}

.headerCell {
  padding: 12px;
  border-left: 1px solid var(--color-dark);
  font-weight: 400;
  text-align: left;
  color: var(--foreground-secondary);
}

.headerCell:first-child {
  padding-left: 0;
  border-left: none;
}

.row {
  display: grid;
  grid-template-columns: minmax(150px, 2fr) minmax(100px, 1fr) minmax(
      100px,
      1fr
    );
  column-gap: 12px;
}

.rowCell {
  padding: 12px;
  border-left: 1px solid var(--color-dark);
  font-weight: 700;
}

.rowCell:first-child {
  overflow: hidden;
  padding-left: unset;
  border-left: none;
  text-overflow: ellipsis;
}

.positiveNum {
  color: var(--color-green);
}

.positiveNum:before {
  content: '+';
}

.negativeNum {
  color: var(--color-red);
}

.negativeNum:before {
  content: '-';
}

.virtualList,
.header.hasScroll {
  overflow-y: scroll;
}

.virtualList::-webkit-scrollbar,
.header.hasScroll::-webkit-scrollbar {
  width: 6px;
}

.virtualList::-webkit-scrollbar-track,
.header.hasScroll::-webkit-scrollbar-track {
  background: transparent;
}

.virtualList::-webkit-scrollbar-thumb,
.header.hasScroll::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-small);
  background-color: var(--color-light-purple);
}

/* stylelint-disable at-rule-prelude-no-invalid */
/* stylelint-disable at-rule-no-vendor-prefix */
@-moz-document url-prefix() {
  .virtualList,
  .header.hasScroll {
    scrollbar-width: thin;
    scrollbar-color: var(--color-light-purple) transparent;
  }
}

@media (width <= 1280px) {
  .history {
    flex-basis: unset;
    width: 100%;
  }
}
