.exchange {
  width: 100%;
  height: 100%;
  color: var(--foreground-primary);
}

.exchangeContent {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: start;
}

.exchangeContentWrapper {
  flex-shrink: 1;
  width: 100%;
  max-width: 580px;
}

@media (width <= 1024px) {
  .exchangeContent {
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .exchangeContentWrapper {
    display: flex;
    column-gap: 20px;
    align-items: start;
    max-width: 100%;
  }
}

@media (width <= 576px) {
  .exchangeContent {
    row-gap: 24px;
  }

  .exchangeContentWrapper {
    flex-wrap: wrap;
  }
}
