.currencies {
  width: max-content;
  max-width: 100%;
  padding: 16px 20px;
  border-radius: var(--border-radius-large);
  font-size: var(--font-size-base);
  background-color: var(--background-secondary);
}

.currenciesTitle {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
}

.currenciesItem {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.currenciesItem:not(:last-child) {
  margin-bottom: 10px;
}

.currenciesLabel {
  width: 36px;
  color: var(--foreground-secondary);
}

.currenciesValue {
  font-weight: 700;
  color: var(--foreground-primary);
}
