.transactionForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  justify-content: space-between;
  align-items: end;
}

.transactionInputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (width <= 576px) {
  .transactionForm {
    grid-template-rows: repeat(3, 65px);
    grid-template-columns: 1fr;
  }
}
