.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-primary);
}

.icon {
  width: 54px;
  height: 54px;
  animation: scale 1s ease-in-out infinite forwards;
}

@keyframes scale {
  0% {
    scale: 1;
  }

  50% {
    scale: 0.9;
  }

  100% {
    scale: 1;
  }
}
