.sort {
  display: flex;
  gap: 15px;
  align-items: center;
}

.sortTitle {
  font-size: var(--font-size-base);
  color: var(--foreground-secondary);
}

.sortSelect {
  padding: 2px 4px;
  border: 2px solid transparent;
  border-radius: var(--border-radius-small);
  background-color: var(--background-secondary);
  color: var(--foreground-primary);
  outline: transparent;
  transition: var(--transition);
  transition-property: border-color;
}

.sortSelect:hover,
.sortSelect:focus-visible {
  border-color: var(--color-light-purple);
}

.sortSelect:focus {
  outline: none;
}

.sortSelect option {
  background-color: var(--background-secondary);
}
