.sort {
  display: flex;
  gap: 15px;
  align-items: center;
}

.sortTitle {
  font-size: var(--font-size-base);
  color: var(--foreground-secondary);
}

.sortSelect {
  padding: 2px 4px;
  padding-right: 30px;
  border: 2px solid transparent;
  border-radius: var(--border-radius-small);
  background-color: var(--background-secondary);
  color: var(--foreground-primary);
  outline: transparent;
  transition: var(--transition);
  transition-property: border-color;
}

.sortSelect:hover,
.sortSelect:focus-visible {
  border-color: var(--color-light-purple);
}

.sortSelect:focus {
  outline: none;
}

.sortSelect option {
  background-color: var(--background-secondary);
}

@supports (-webkit-appearance: none) {
  .sortSelect {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23fff"><path d="M7 10l5 5 5-5z"/></svg>');
    background-position: right 10px center;
    background-size: 20px;
    background-repeat: no-repeat;
    appearance: none;
  }
}
