.dynamic {
  flex-shrink: 1;
  flex-basis: calc(50% - 10px);
  font-size: var(--font-size-base);
  color: var(--foreground-secondary);
}

.dynamicChart {
  width: 100%;
  padding: 16px 20px;
  border-radius: var(--border-radius-large);
  background-color: var(--background-secondary);
}

.dynamicSelect {
  display: flex;
  margin-bottom: 20px;
  margin-left: auto;
  border: 2px solid transparent;
  border-radius: var(--border-radius-small);
  background-color: initial;
  color: inherit;
  transition: var(--transition);
  transition-property: border-color;
}

.dynamicSelect:hover,
.dynamicSelect:focus-visible {
  border-color: var(--color-light-purple);
}

.dynamicSelect:focus {
  outline: none;
}
